@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../public/fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'), url(../public/fonts/termina/TerminaTest-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Termina-Medium';
  src: local('Termina-Medium'), url(../public/fonts/termina/TerminaTest-Medium.otf) format('truetype');
}

@tailwind utilities;

body {
  overflow-x: hidden !important;
}
